/* Map */

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}

html, body, #mapid, .overlay {
    height: 100%;
    width: 100vw;
}

#mapid {
    position: absolute;
    z-index: 1;
}


.overlay {
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5px);
}

main {
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -261px;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(228, 215, 215, 0.863);
    font-size: .9rem;
}

.removeOverlay {
    animation-name: removeOverlay;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.moveToTop {
    animation-name: moveToTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes removeOverlay {
    0% {z-index: 2; backdrop-filter: blur(5px);}
    100% {z-index: 0; backdrop-filter: blur(0px);}
}

@keyframes moveToTop {
    0% {top: 50%; margin-top: -261px; width: 300px;}
    100% {top: 10px; margin-top: 0px; margin-left: -125px; width: 250px;}
}

main h2 {
    text-align: center;
    font-size: 1.1rem;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form input[type=text] {
    width: 200px;
    height: 20px;
}
form input[type=submit] {
    width: 75px;
    height: 30px;
}

form label, input[type=text] {
    margin-top: .5rem;
}

form p {
    margin: .5rem 0 0 0;
}

#js-instructions {
    line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
    main {
        max-width: 615px;
        margin-left: -300px;
        margin-top: -134px;
    }

    @keyframes moveToTop {
        0% {top: 50%; margin-top: -134px; max-width: 615px;}
        100% {top: 10px; margin-top: 0px; margin-left: -300px; max-width: 615px;}
    }

    header h1 {
        font-size: 2rem;
    }

    form {
        flex-direction: row;
        justify-content: center;
    }

    form p {
        padding-right: 10px;
    }

    form label, input[type=text] {
        margin-right: 10px;
    }

    form #js-zipcode {
        width: 75px;
        height: 20px;
    }

    form #js-city {
        width: 150px;
        height: 20px;
    }


    
}
/*
@media screen and (min-width: 1024px) {
    main {
        max-width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        max-width: 43%;
    }
}

@media screen and (min-width: 2560px) {
    main {
        max-width: 25%;
    }
}
*/