/* Map */

body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 100%;
    width: 100vw;
}

#mapid {
    position: relative;
    z-index: 1;
}

.wrapper {
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    */
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(228, 215, 215, 0.863);
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
form label, input {
    margin-top: .5rem;
}

form p {
    margin: .5rem 0 0 0;
}

@media screen and (min-width: 330px) {
    main {
        max-width: 55%;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 80%;
    }
    header h1 {
        font-size: 2rem;
    }
    form {
        flex-direction: row;
    }
    form p {
        padding-right: 10px;
    }

    form label, input, p {
        margin-right: 10px;
    }
    form input[type=text] {
        width: 100px;
        height: 20px;
    }
    
}
@media screen and (min-width: 1024px) {
    main {
        max-width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        max-width: 43%;
    }
}

@media screen and (min-width: 2560px) {
    main {
        max-width: 25%;
    }
}
